<div class="container home">
  <div class="anouncer">
    <div class="logo">
      <svg width="171px" height="59px" viewBox="0 0 171 59" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <text id="mehmet" stroke="none" fill="none" font-family=".SFNSDisplay, .SF NS Display" font-size="50" font-weight="normal" letter-spacing="-1.78571415">
              <tspan x="0" y="48" fill="#FF8B9E">m</tspan>
              <tspan x="40.084403" y="48" fill="#FEE9BD">e</tspan>
              <tspan x="65.1053295" y="48" fill="#FF8B9E">h</tspan>
              <tspan x="91.5178576" y="48" fill="#FEE9BD">m</tspan>
              <tspan x="131.602261" y="48" fill="#FF8B9E">e</tspan>
              <tspan x="156.623187" y="48" fill="#FEE9BD">t</tspan>
          </text>
      </svg>
    </div>
    <p>THE GAME</p>
  </div>

  <div class="row">
    <p class="presentation">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>

  <% @teams.each do |team| %>
      <div class="row">
        <p class="team_name"><%= team.name.upcase %></p>
      </div>
      <div class="row">
        <div class="jauge">
          <% percent_completion = ((team.score / team.goal.score).to_f < 1 ? (team.score / team.goal.score).to_f * 100 : 100) %>

          <div class="indicator <%= team.name %>"
            style="width: <%= percent_completion %>% ; background-color: <%= team.color %>"></div>
        </div>
      </div>
      <div class="row">
        <p class="goal_description"><%= team.goal.description %></p>
        <a class="join_team"href="<%= url_for(:controller => 'team', :action => 'join', :id => team.id) %>">Join</a>
      </div>
  <% end %>
</div>
