<!DOCTYPE html>
<html>
  <head>
    <title>Mehmet</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'game', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'game', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
